<div class="flex m-14 p-4 bg-gray-900 shadow-lg h-auto max-w-sm rounded-lg justify-center  content-center hover:bg-blue-600 border-1">
  <div class="text-white font-serif">
    <h1 class=" font-bold text-2xl">ChitChat</h1>
    <p>You have a new message!</p>
  </div>
</div>



<div class="flex  flex-col gap-2 p-8 justify-center content-center bg-gray-700 shadow-lg border mx-auto max-w-sm rounded-lg shadow-lg hover:bg-blue-500 text-white">
  <div class="flex gap-6">

    <div class="  bg-white rounded-full w-20 ">
      <img src="assets/images/userAvtar.png " class="h-20 ">
    </div>
    <div class=" font-serif">
      <h1 class="font-bold text-2xl">Erin Lindford</h1>
      <p>Product Engineer</p>
      <div>
        <button class=" p-1  border rounded-lg  text-emerald-600">Message</button>
      </div>


    </div>
  </div>



</div>

